.root {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin:0px 10px 10px;
    background: white;
    border-radius: 5px;
    transition: 0.2s all;
    border: 1px solid lightgray;
    cursor: pointer;
}

button:hover,
.active {
    background: rgb(255, 237, 134);
    border-color: rgb(255, 237, 134) ;
}